@import '~antd/dist/antd.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


/* My CSS */

.login-form {
  /* max-width: 90%; */
}

.login-form-forgot {
  float: left;
}

/* .ant-col-rtl .login-form-forgot {
  float: left;
} */

.login-form-button {
  width: 100%;
  /* border-radius: 20%; */
}

.login-container{
  /* text-align: center; */
  /* padding-top: 10%;
  padding-left: 40%; */
  /* align-items: center; */
  /* justify-content: center; */
  /* height:unset; */
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: aliceblue;
}