@import '~antd/dist/antd.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  /* height: 100%; */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


/* My CSS */

.login-form {
  /* max-width: 90%; */
}

.login-form-forgot {
  float: left;
}

.login-form-button {
  width: 100%;
  /* border-radius: 20%; */
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.content-tag {
  /* padding: 0 50px; */
  background: #fff;
  margin-top: 64px;
  height: auto;
  padding-bottom: 15%;
}

.content-div {
  padding: 2;
}

.header-tag {
  position: fixed;
  z-index: 1;
  width: 100%;
}

.outer-card {
  background-color: white;
}

.inner-card {
  background-color: cadetblue;
  width: 100%;
}

.login-container{
  padding-top: 3%;
  padding-bottom: 8%;
  background-color: lightgray;
  /* height: 100%; */
}

.footer-tag {
  position: fixed;
  background-color: darkslategrey;
  height: 75px;
  text-align: center;
  bottom: 0;
  width: 100%;
  /* clear: both; */
}
.menu-tag {
  margin-left: 15%;
}

.demo-infinite-container {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  overflow: auto;
  padding: 8px 24px;
  height: 300px;
  margin-bottom: 1%;
  margin-top: 1%;
}

.form-card {
  /* background-color: yellow; */
}

.counting-tag {
  /* background-color: yellow; */
}

.completedTask {
  /* font-size: larger; */
  font-weight: bold;

  /* background-color: red; */
  /* width: 80%; */
  /* font-size: x-large; */
  text-decoration-line: line-through;
  /* text-decoration-style: double; */
  color: red;
}
